* {
  background-color: white;
  color: black;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 5px solid #a9a9a9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav ul li {
  
  align-items: center;
}

nav ul li a {
  color: black;
  font-size: 30px;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ffffff;
}

#nav--home:hover {
  background-color: #22653b;
}
#nav--about:hover {
  background-color: #831929;
}
#nav--schedule:hover {
  background-color: #d6a632;
}
#nav--contact:hover {
  background-color: #2a2565;
}